Binaries
DerivedDataCache
Intermediate
Saved
Content/MovementAnimsetPro/
Content/PolygonCity/
Content/SimplePeople/
Content/SimpleTown/
.idea/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Config/HoloLens/HoloLensEngine.ini
SNIAGARASYSTEMVIEWPORT.ipch
SLEVELVIEWPORT.ipch
SKELETONTREEBONEITEM.ipch
SGAMEPLAYCUEEDITOR.ipch
SFOLIAGEPALETTE.ipch
SCURVECONTROLCONTAINER.ipch
SCOMPOSITEFONTEDITOR.ipch
RIGUNIT_ANIMEVALRICHCURVE.ipch
PROPERTYEDITORMODULE.ipch
POSTPROCESSING.ipch
NIAGARAGPUCOMPUTEDISPATCH.ipch
NIAGARADATAINTERFACEINTRENDERTARGET2D.ipch
MOVIESCENENIAGARASYSTEMTRACKTEMPLATE.ipch
MOVIESCENENIAGARAPARAMETERSECTIONTEMPLATE.ipch
METASOUNDEDITORGRAPHBUILDER.ipch
METASOUNDEDITORGRAPH.ipch
LIGHTMAPRENDERER.ipch
DATAPREPWIDGETS.ipch
DATAPREPEDITOROUTLINER.ipch
DATAPREPDETAILSTAB.ipch
DATAPREPACTIONASSET.ipch
CONTROLRIGEDITORMODULE.ipch
CONTROLRIGEDITOR.ipch
CONTROLRIGCOMPONENT.ipch
COMMONLISTVIEW.ipch
BUILTINCHANNELEDITORS.ipch
ACTORBROWSINGMODE.ipch
WATERBODYACTOR.ipch
SRIGSPACEPICKERWIDGET.ipch
SREWINDDEBUGGER.ipch
SRCPANELFUNCTIONPICKER.ipch
SPROPERTYMENUCOMPONENTPICKER.ipch
*.log
